.maps {
  width: 25%;
  height: 400px;
  margin-top: 50px;
  /* margin-right: -40%; */
}

#h2_contact {
  text-shadow: 0.075em 0.08em 0.1em rgba(0, 0, 0, 1);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.sec {
  position: relative;
  margin-top: 150px;
  /* z-indexs: 3; */
  padding-top: 50px;
  padding-bottom: 50px;
  .background {
    background-image: url('https://storage.googleapis.com/shoshanat-images/public/contactBack.webp');}
  background-size: cover;
  background-position: center;
}

.cont {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}

.section-header {
  margin-bottom: 50px;
  text-align: center;
}

.section-header h2 {
  color: #FFF;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 20px;
}

.section-header p {
  color: black;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Varela Round', sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  direction: rtl;
}

.contact-info {
  width: 50%;
  margin-top: -40px;
}

.contact-info-item {
  display: flex;
  margin-bottom: 30px;
}

.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
  /* color: #fecd69; */
  color: #824C4D;
}

.contact-info-icon i {
  font-size: 30px;
  line-height: 70px;
}

.contact-info-content {
  margin-right: 20px;
}

.contact-info-content h4 {
  color: #666;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: #824C4D;
  /* color: #fecd69; */
  font-size: 1em;
}

.contact-form {
  background-color: #fff;
  opacity: 0.6;
  padding: 40px;
  width: 45%;
  padding-bottom: 20px;
  padding-top: 20px;
  border: solid 3px #333;
}

.contact-form h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #666;
  outline: none;
  resize: none;
}

.contact-form .input-box span {
  position: absolute;
  right: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contact-form .input-box input:focus~span,
.contact-form .input-box textarea:focus~span {
  color: #824C4D;
  font-size: 12px;
  transform: translateY(-10px);
}

.contact-form .input-box input~span,
.contact-form .input-box textarea~span {
  margin-top: -10px;
}


.contact-form .input-box input[type="submit"] {
  width: 100%;
  background: #666;
  color: #FFF;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #666;
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover {
  background: #FFF;
  color: #666;
}

#standard-basic {
  direction: rtl;

}

@media (max-width: 991px) {
  .cont {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }

  .sec {
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: 0;
  }

  .row {
    flex-direction: column;
  }

  .contact-info {
    width: 80%;
    text-align: center;
  }

  .contact-form {
    width: 90%;
  }

  #h2_contact {
    margin-top: 0px;
  }

  .maps {
    width: 90%;
  }
  .section-header p {
    font-size: 15px;
  }
}


/* .toast-message {
  background: darkblue;
  color: #fff;
  font-size: 20px;
  width: 34vw;
  padding: 30px 20px;
} */