.p_zerim {
	padding-top: 190px;
	font-size: 70px;
	text-shadow: 0.2em 0.5em 0.1em #ddd, -0.3em 0.1em 0.1em #aaa, 0.4em -0.3em 0.1em #888;
}

/* hover image!!! */

.grid_lexi {
	column-count: 4;
	--webkit-column-count: 4;
	--moz-column-count: 4;
	gap: 1rem;
	padding: 4rem;
}

/* Responsive-ness for different screen-sizes */
@media screen and (max-width: 810px) {
	.grid_lexi {
		column-count: 3;
		--webkit-column-count: 3;
		--moz-column-count: 3;
	}
}

@media screen and (max-width: 500px) {
	.grid_lexi {
		column-count: 2;
		--webkit-column-count: 2;
		--moz-column-count: 2;
	}
}

@media screen and (max-width: 400px) {
	.grid_lexi {
		column-count: 1;
		--webkit-column-count: 1;
		--moz-column-count: 1;
	}
}

/* Common style */
.grid_lexi figure {
	position: relative;
	/* float: left; */
	overflow: hidden;
	/* margin: 1%;
	min-width: 290px;
	max-width: 480px;
	max-height: 360px;
	width: 40%;
	height: auto;
	text-align: center;
	cursor: pointer; */
}

.grid_lexi figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid_lexi figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid_lexi figure figcaption::before,
.grid_lexi figure figcaption::after {
	pointer-events: none;
}

.grid_lexi figure figcaption,
.grid_lexi figure figcaption>a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid_lexi figure figcaption>a {
	z-index: 100;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid_lexi figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid_lexi figure h2 span {
	font-weight: 800;
}

.grid_lexi figure h2,
.grid_lexi figure p {
	margin: 0;
}

.grid_lexi figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Individual effects */
/* ------------ */
/****** Lexi  ******/
/* ------------ */

figure.effect-lexi {
	background: -webkit-linear-gradient(-45deg, #000 0%, #fff 100%);
	background: linear-gradient(-45deg, #000 0%, #fff 100%);
	/* width: 100%; */

}

figure.effect-lexi img {
	margin: -10px 0 0 -10px;
	max-width: none;
	width: -webkit-calc(100% + 10px);
	width: calc(100% + 10px);
	opacity: 0.9;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(10px, 10px, 0);
	transform: translate3d(10px, 10px, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-lexi figcaption::before,
figure.effect-lexi p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-lexi figcaption::before {
	position: absolute;
	right: -100px;
	bottom: -100px;
	width: 300px;
	height: 300px;
	border: 2px solid #fff;
	border-radius: 50%;
	box-shadow: 0 0 0 900px rgba(255, 255, 255, 0.2);
	content: '';
	opacity: 0;
	-webkit-transform: scale3d(0.5, 0.5, 1);
	transform: scale3d(0.5, 0.5, 1);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

figure.effect-lexi:hover img {
	opacity: 0.6;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

figure.effect-lexi h2 {
	text-align: left;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(5px, 5px, 0);
	transform: translate3d(5px, 5px, 0);
}

figure.effect-lexi p {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 0 1em 1.5em 0;
	width: 105px;
	text-align: right;
	opacity: 0;
	-webkit-transform: translate3d(20px, 20px, 0);
	transform: translate3d(20px, 20px, 0);
}

figure.effect-lexi:hover figcaption::before {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

figure.effect-lexi:hover h2,
figure.effect-lexi:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}

	/* .grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	} */
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: '';
}

.clearfix:after {
	clear: both;
}

/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px) {

	/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
	.p_zerim {
		padding-top: 10px;
		font-size: 40px;
	}

	figure.effect-lexi figcaption::before {
		right: -30px;
		bottom: -30px;
		width: 120px;
		height: 120px;
	}
}

@media (max-width:400px) {}

@media (min-width:480px) and (max-width:599px) {

	/* smartphones, Android phones, landscape iPhone */
	.p_zerim {
		padding-top: 10px;
		font-size: 50px;
	}

	figure.effect-lexi figcaption::before {
		right: -30px;
		bottom: -30px;
		width: 100px;
		height: 100px;
	}
}

@media (min-width:600px) and (max-width: 800px) {

	/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
	.p_zerim {
		padding-top: 10px;
		font-size: 50px;
	}

	figure.effect-lexi figcaption::before {
		right: -60px;
		bottom: -60px;
		width: 180px;
		height: 180px;
	}
}

@media (min-width:801px) {

	/* tablet, landscape iPad, lo-res laptops ands desktops */
	figure.effect-lexi figcaption::before {
		right: -60px;
		bottom: -60px;
		width: 180px;
		height: 180px;
	}
}

@media (min-width:1025px) {
	/* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {
	/* hi-res laptops and desktops */

}




@media (min-width: 760px) {}

@media (min-width: 568px) {}




/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
	position: fixed;
	top: -100%;
	width: 100%;
	background: rgba(0, 0, 0, .7);
	width: 100%;
	opacity: 0;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
	overflow: hidden;
	z-index: 1000;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-height: 0%;
	max-width: 0%;
	border: 3px solid white;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
	box-sizing: border-box;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
	display: block;
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	/* background: #824c4ddb; */
	background: rgba(32, 32, 32, 0.45);
	border-radius: 50%;
	color: white;
	text-decoration: none;
	position: absolute;
	/* top: 0; */
	/* right: 30%; */
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
	content: "";
	display: block;
	/* height: 30px; */
	/* width: 1px; */
	/* background: black; */
	position: absolute;
	/* left: 26px;
	top:10px; */
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
	content: "";
	display: block;
	/* height: 30px;
	width: 1px; */
	/* background: black; */
	position: absolute;
	/* left: 26px;
	top:10px; */
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
	opacity: 1;
	top: 0;
	bottom: 0;
}

.lightbox-target:target img {
	max-height: 100%;
	max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
	top: 5%;
	left: 48%;
}

.fa-angle-right {
	top: 50%;
	right: 2%;
	display: block;
	color: black;
	text-decoration: none;
	position: absolute;
	z-index: 9;
	font-size: xx-large;
}

.fa-angle-left {
	top: 50%;
	left: 2%;
	display: block;
	color: black;
	text-decoration: none;
	position: absolute;
	z-index: 9;
	font-size: xx-large;
}
#div_nameImg{
	width: 100%;
	height: 50px;
	background-color: rgba(250, 235, 215, 0.648);
	color: #000;
	text-shadow: 0.075em 0.08em 0.08em rgb(255, 255, 255);
	font-weight: 700;
	/* background-color: #824c4ddb; */
	position: absolute;
	bottom: 5%;
	font-size: xx-large;
}
/* ...קו מ2 צידי הכותרת */
/* .where {
		margin-left: auto;
		margin-right: auto;
		display: grid;
		align-items: center;
		grid-template-columns: minmax(15px, 1fr) auto minmax(15px, 1fr);
		grid-gap: 4%;
		font-size: 300%;
		}
		
		.where:before,
		.where:after {
		content: '';
		height: 4px;
		}
		
		.where:after {
		background: linear-gradient(to right, transparent, rgb(238, 156, 98));
		}
		
		.where:before {
		background: linear-gradient(to right, rgb(238, 156, 98), transparent);
		} */
@layer animation.scroll-driven {
	body {
		timeline-scope: --carousel;
	}

	#carousel {
		overflow-x: scroll;
		scroll-snap-type: x mandatory;
		overscroll-behavior: contain;
		scroll-behavior: smooth;

		scroll-timeline: --carousel inline;

		>* {
			scroll-snap-align: center;
		}
	}

	#nextBtn {
		animation: auto next ease;
		animation-timeline: --carousel;

		/* fix bug scrollPort nextBtn visibility */
		animation-range: 0% 101%;
	}

	#prevBtn {
		animation: auto prev ease;
		animation-timeline: --carousel;
	}

	@keyframes prev {
		from {
			visibility: hidden;
		}
	}

	@keyframes next {

		99%,
		100% {
			visibility: hidden;
		}
	}
}