@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&family=Varela+Round&display=swap');

.App {
  text-align: center;
  background-color: #fffff2;
  /* background-color: #ffefcf; */
  font-family: 'Varela Round', sans-serif;
}

body {
  background-color: black;
  font-family: 'Varela Round', sans-serif;
}




/* /////////////////////////////////////////////////////////////////////////////////// */

.navBar {
  overflow: hidden;
  background-color: #F3F0EA;
  color: #707173;
  /* padding-right: 10%; */
}

.navBar a {
  float: right;
  display: block;
  color: #707173;
  padding: 30px 60px;
  text-decoration: none;
  font-size: 20px;
} 


.navBar a:hover {
  /* border-bottom: 3px solid #FF5DAE; */
  color: black;
}



